/* colors  #fff #e46161 #762c24 */

:root{
    font-size: 10px;
}

html body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #aa6d6dff;
}



article{
    position: relative;
    margin: 10rem;
    background-color: #ffffff;
    border: solid 1rem #762c24;
    width: 7rem;
    height: 30rem;
    transition: all 1s ease-out;
}

article:hover{
    width: 9rem;
    transition: all 0.5s ease-out;
}

article.active{
    width: 50%;
    transition: all 1s ease-out;
}

article> .roll{
    position: relative;
    height: 100%;
    width: 7rem;
    border-right: solid 1rem #762c24;
    background-image: url('kuvat/roll-bg.png');
    background-position-x: 0%;

    transition: all 1s ease-out;
}

article:hover> .roll{
    background-position-x: -1rem;
    transition: all 0.5s ease-out;
}

article.active> .roll{
    background-position-x: -78rem;
    transition: all 1s ease-out;
}

article > img.first{
    position: absolute;
    top:-6rem;
    left:-2rem;
}

article > img.second{
    position: absolute;
    bottom:-6rem;
    left:-2rem;
}