/* colors  #fff #e46161 #762c24 */

/* ==== Initial setup ==== */
:root{
    font-size: 10px;
}

html body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #aa6d6dff;
}
/* ==== Initial setup ==== */

/* ------------------------------------------------------------------ */

/* ==== Fonts ==== */
h1, h2, h3, h4, h5, h6, p{
    color: black;
    margin: 0;
}

h1{
    font-size: 7.5rem;
}
h2{
    font-size: 6.5rem;
}
h3{
    font-size: 5.5rem;
}
h4{
    font-size: 4.5rem;
}
h5{
    font-size: 3.5rem;
}
h6{
    font-size: 3rem;
}
p{
    font-size: 2rem;
}
/* ==== Fonts ==== */

/* ------------------------------------------------------------------ */

/* ==== Header ==== */
header{
    position: relative;
    background-color: #ffffff;
    height:15rem;
    box-shadow: 0rem 1rem 1rem 1rem #762c2455;
}

div.rope{
    position: absolute;
    background-image: url(kuvat/rope-upsdwn.png);
    background-position-x: 0;
    bottom: -1rem;
    height: 5rem;
    width: 100%;
}
/* ==== Header ==== */

/* ------------------------------------------------------------------ */

/* ==== Article ==== */
article{
    position: relative;
    margin: 10rem 2rem;
    background-color: #ffffff;
    border: solid 1rem #762c24;
    border-radius: 0 5rem 5rem 0; 
    width: 7rem;
    height: 30rem;
    transition: all 0.5s ease-out;

    box-shadow: 0rem 1rem 1rem #762c2455;
}

article:hover{
    width: 9rem;
    transition: all 0.5s ease-out;
}

article.active{
    width: 50%;
    transition: all 1s ease-out;
}

article> .roll{
    z-index: 1;
    position: relative;
    height: 100%;
    width: 7rem;
    border-right: solid 1rem #762c24;
    background-image: url('kuvat/roll-bg.png');
    background-position-x: 0%;
    box-shadow: inset 0rem 0rem 1rem 1rem #762c2475,
    0rem 0rem 0rem #762c2455;

    transition: all 1s ease-out;
}

article:hover> .roll{
    background-position-x: -1rem;
    box-shadow: inset 0rem 0rem 1rem 1rem #762c2475,
    1rem 0rem 1rem #762c2455;
    
    transition: all 0.5s ease-out;  
}

article.active> .roll{
    background-position-x: -78rem;
    box-shadow: inset 0rem 0rem 1rem 1rem #762c2475,
    1rem 0rem 1rem #762c2455;
    
    transition: all 1s ease-out;
}

div.knob{
    position: absolute;
    display: block;
    width: 9rem;
    height: 4rem;
    border: solid 1rem #762c24;
    border-radius: 2rem;
    box-shadow: 0rem 1rem 1rem #762c2455;
}

div.knob.white{
    top:-5.8rem;
    left:-2rem;
    background-color: #ffffff;
    background-image: 
    linear-gradient(90deg,
    #762c2460,
    #ffffff,#ffffff,#ffffff,
    #762c2460);
}

div.knob.red{
    bottom:-5.8rem;
    left:-2rem;
    background-color: #e46161;
    background-image: 
    linear-gradient(90deg,
    #762c2460,
    #e46161,#e46161,#e46161,
    #762c2460);
}

article > div.text-wrapper{
    position:absolute;
    box-sizing: border-box;
    overflow: hidden;
    top:0;
    width: calc(100% - 11rem);
    height: calc(100% - 2rem);
    margin:  1rem 1rem 1rem 9rem;
    opacity: 0;

    transition: all 0.1s 0s ease-in-out;
}

article.active> div.text-wrapper{
    opacity: 1;
    
    transition: all 0.2s 1s ease-in-out;
}